[
    {'nettbrett2', [
        % Web configuration
        {http_port, 8080}, % default 80
        % Bandwidth configuration
        {bw_timeout, 5000},
        {snmp_host, "193.214.238.193"},
        {snmp_port, 161},
        {interface_in, [1,3,6,1,2,1,31,1,1,1,6,603]},
        {interface_out, [1,3,6,1,2,1,31,1,1,1,10,603]},
        {uptime_oid, [1,3,6,1,2,1,1,3,0]},
        {community, "pp26"},
        {max_speed, 10000000000},

        % Pong configuration
        {pong_timeout, 15000},
        {networks, [
            {"193.214.232.0", 21}
        ]}

    ]}
].